@use "variables";

.main{
  margin: 0px 10px 10px 10px;
}


/*

@media (min-width:800px) {
*/
  .container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  z-index: 50;
  }
/*
}
*/
.container-calendar {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  width: 100%;
}

/* home page */
#home-header{

  max-width: 400px;
  @media all and (min-width: 800px) {
    max-width: 800px;
  }

  & img {
    max-width: 300px;
  }



  /*
  @media (min-width: 800px) {
    width: 40%;
  }
  */
}
#home-body{
  margin: inherit;
}




.post {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 2pc;
  text-align: justify;
  overflow: visible;

  & iframe {
    max-width: 700px;
    width: 100%;
  }
}

.prev_next {
  text-align: center;
  line-height: 1.414;
  margin: 25px 20px 20px 20px;

  & a {
    border: 1px solid gray;
    padding: 20px;
  }
  @media (min-width: 800px) {
    font-size: 24px;
  }
}

.post_header {
  position: relative;
  width: 100%;
  .background_image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: lighten;
    background-size: cover;
    opacity: 75%;
  }
}

.post_content {
  & audio {
    width: 100%;
  }
  max-width: 400px;
  @media all and (min-width: 800px) {
    max-width: 800px;
  }
   
}

.post.post_detail .background_image {
  filter: contrast(0.62) brightness(1.2) hue-rotate(330deg) grayscale(0.5);
}

.post .post_header {
  position: relative;
  width: 100%;
  &.has-media {
    padding: 2pc;
  }
  .detail_title {
    margin: 0.33em 0 2pc;
  }
}

.post_publish_date{
  text-align: right;
  line-height: 1.414;
  margin: 10px;
  @media (min-width: 800px) {
    font-size: 24px;
  }
}

.post.post_detail {
  margin-bottom: 5pc;
}

.post.post_detail .post_header {
  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    box-shadow: 0 1000vh 0 1000vh rgba(darkkhaki, 0.62); // darkseagreen
    z-index: -1;
    bottom: -2pc;
  }
}

.detail_label {
  //position: absolute;
  align-self: flex-start;
  margin-top: 0;
}

.detail_title {
  align-self: center;
  color: black;
  font-family: anton, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 4vw;
  @media all and (min-width: 800px) {
    font-size: 5vw;
  }
  text-align: center;
  text-align-last: center;
  line-height: 1;
  margin-bottom: 2pc;
}

[class$="detail"]:not(.block-nav_detail) {
  font-size: 15px;
  line-height: 1.8;
}


.daylink {
    font-family: variables.$base-font;
    font-weight: 800;
    font-size: 7vw;
  @media all and (min-width: 800px) {
    font-size: 8vw;
  }
}

.calendar {
  display: grid;
  flex: auto;
  grid-template-columns: repeat(7, 1fr);
  list-style-type: none;
  gap: 1rem .5rem;
  @media all and (min-width: 800px) {
    gap: 1rem;
  }
  padding: 0;
  margin: 10px;
  .header {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 8;
    font-size: 5vw;
  }
}

.month
{
  grid-column-start: 1;
  grid-column-end: 8;
  font-family: variables.$base-font;
  font-weight: 800;
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
}

.day {
  border: 1px solid gray;
  text-align: center;
  padding: .1rem .1rem;
  margin: 0;
  font-weight: 800;

  a {
    font-weight: 800;
    box-shadow: none;
  }

  position: relative;
  @media all and (min-width: 800px) {
    padding: 1rem 0;
    margin: 1rem 0;
  }

  .background_image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: lighten;
    background-size: cover;
    opacity: 75%;
  }

}

