$toggle: 15vmin;

.block-nav {
    z-index: 500;
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    width: $toggle;
    height: calc(var(--vh, 1vh) * 100);
    user-select: none;
    pointer-events: none;
    & * {
        user-select: auto;
        pointer-events: auto;
    }
}

.block-nav_toggle,
.block-nav_option,
.block-nav_detail_item {
    cursor: pointer;
}

.block-nav_toggle {
    line-height: 1;
    z-index: 3;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: $toggle;
    height: $toggle;
    font-size: 3vmin;
    font-weight: 700;
    background: rgba(220, 220, 220, 0.93);
    clip-path: circle(6vmin at 50% 50%);

    transform: rotate(0deg);
    //transition: background 0.33s ease-in-out;
    transition: transform 0.33s ease-in;

    &:before {
    //    content: "\2630";
    	content: "menu";
        z-index: 2;
        position: absolute;
        transition: transform 0.33s ease-in;
        height: 1.1em;
    }

    &.toggled {
        transform: rotate(90deg);
    }

    &:hover {
        background: $navajowhite;
    }

    &.options:hover {
        transition: transform 0.33s ease-in;
        background: $navajowhite;
    }
}

.block-nav_home {

    line-height: 1;
    flex: 0 0 auto;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: $toggle;
    height: $toggle;
    transition: transform 0.33s ease-in-out, background 0.24s ease-in;
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 4vmin;
    font-weight: 400;
    color: black;
    opacity: 0;
    clip-path: none;
    box-shadow: none;
    background: rgba(white, 0.8);
    mix-blend-mode: unset;
    &:visited {
        color: black;
    }
    &:before {
        content: unset;
    }
    &.toggled:hover {
        background: darken(white, 16%);
    }
    &.toggled {
        opacity: 1;
        transform: translate(-200%, 0);
        transition: transform 0.33s ease-in-out, background 0.24s ease-in;
        background: rgba(darken(white, 16%), 0.8);
    }
}


.block-nav_options {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: baseline;
    width: calc((var(--vh, 1vh) * 100) - #{$toggle});
    min-width: fit-content;
    height: $toggle;
    top: 0;
    left: 0;
    transform: rotate(90deg) translate(calc(var(--vh, 1vh) * 100), 0);
    transform-origin: #{ calc($toggle / 2) } #{ calc($toggle / 2) };
    transition: transform 0.33s ease-in-out,
    background 0.24s ease-in;
    background: rgba(darken(gainsboro, 16%), 0);
    background-clip: content-box;
    color: rgba(black, 0);
    &.disabled * {
        pointer-events: none;
        user-select: none;
    }
    &.toggled * {
        pointer-events: auto;
        user-select: auto;
    }
    &.toggled {
        background: rgba(gainsboro, 0.8);
        //background: rgba(darken(darkkhaki, 16%), 0.62);
        background-clip: content-box;
        color: rgba(black, 1);
        transform: rotate(90deg) translate(0, 0);
    }
    &.overflowing {
        flex-flow: column nowrap;
        justify-content: flex-end;
        width: $toggle;
        //height: calc(100vh - #{$toggle});
        height: calc((var(--vh, 1vh) * 100) - #{$toggle});
        transform: translateY(100%);
        &.toggled {
            transform: translateY(0);
        }
        .block-nav_option {
            flex: 1 1 auto;
            display: grid;
            justify-content: center;
            align-content: center;
            height: auto;
            padding: 0.5em;
            transform: none;
        }
        .block-nav_option:after {
            display: block;
            position: absolute;
            left: calc(4vmin / 2);
            bottom: calc(((100% - 4vmin) / 2) - 2mm);
            width: calc(100% - 4vmin);
            height: 1mm;
        }
        & ~ .block-nav_detail {
            width: calc((200vw / 3) - #{$toggle});
        }
    }
}
.block-nav_option {
    $fontSize: 4vmin;
    flex: 0 0 auto;
    position: relative;
    height: 100%;
    padding: calc((#{$toggle} - #{$fontSize}) / 2);
    margin: 0;
    font-size: #{$fontSize};
    font-weight: 400;
    transition: transform 0.33s ease-in-out,
    background 0.48s ease-in-out;
    transform-origin: right #{calc($toggle / 2)};
    &:hover {
        background: #{darken(white, 16%)};
    }
    &:after {
        content: "";
        opacity: 0;
        display: block;
        position: absolute;
        left: calc((#{$toggle} - #{$fontSize}) / 2);
        bottom: calc(((100% - #{$fontSize}) / 2) - 1mm);
        width: calc(100% - (#{$toggle} - #{$fontSize}));
        height: 100%;
        border-bottom: 1mm solid currentColor;
        transform-origin: top right;
        transform: rotate(-90deg) translate(100%, -100%);
        transition: opacity 0.33s ease-in-out,
        transform 0.27s ease-out;
    }
    &.toggled {
        transform: translate(-50%, calc(-50% - 1mm)) rotate(-90deg);
        background: rgba(darken(white, 16%), 0.8);
    }
    &.toggled:hover {
        background: #{darken(white, 16%)};
    }
    &.toggled:after {
        opacity: 1;
        transform: rotate(0deg) translate(0%, 0%);
    }
}






.block-nav_detail {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vmin - #{$toggle} - 72px);
    max-width: calc(100vw - #{$toggle} - 72px);
    height: inherit;
    padding: 0;
    background: rgba(white, 0.93);
    overflow-y: scroll;
    transform: translate(-100%, 0);
    &.nav-detail-enter-active,
    &.nav-detail-leave-active {
        transform: translate(-100%, 0);
        transition: transform 0.33s ease-in-out,
        background 0.33s ease-in-out;
    }
    &.nav-detail-enter,
    &.nav-detail-leave-to {
        transform: translate(0, 0);
        background: white;
    }
    display: none;
}

.block-nav_detail_date{
    margin: 10px;
}

.block-nav_detail_item {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1pc;
    transition: background 0.33s ease-in-out,
    box-shadow 0.24s ease-in;
    //box-shadow: 0 calc(4vmin + 1mm) 0 -4vmin blue;
    &:hover {
        background: mix(navajowhite, white, 50%);
        box-shadow: 0 1mm 0 0 blue;
    }
    .title,
    .description {
        flex: 0 0 auto;
    }
    .title {
        order: 1;
        //font-family: anton, sans-serif;
        //font-size: 8vmin;
        font-family: gill-sans-nova, sans-serif;
        font-size: 4mm;
 	@media all and (min-width: 800px) {
    		font-size: 5mm;
  	}
        text-align: left;
    }
    .description {
        order: 2;
        margin-right: 1ex;
        text-align: left;
    }
    .author,
    .date {
        display: block;
        font-size: 5mm;
        margin-top: 0.5em;
    }
    @media all and (min-width: 600px) {
        flex-flow: row nowrap;
        .title,
        .description {
            align-self: center;
        }
        .title {
            order: 2;
            flex: 1 1 8ch;
        }
        .description {
            order: 1;
            flex: 1 1 4ch;
            text-align: right;
        }
    }
}

.block-nav_scrim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background: rgba(blue, 0.62);
    z-index: -1;
    opacity: 0;
    transform-origin: bottom right;
    transform: translateX(100%);
    &.toggled {
        transform-origin: bottom right;
        transform: translateX(0);
        transition: transform 0.33s ease-in-out;
        opacity: 1;
    }
    //&.nav-scrim-enter-active,
    //&.nav-scrim-leave-active {
    //    opacity: 1;
    //    transform: translateX(0);
    //    transition: transform 0.33s ease-in-out,
    //    opacity 0.33s ease-in-out;
    //}
    //&.nav-scrim-enter,
    //&.nav-scrim-leave-to {
    //    opacity: 0;
    //    transform: translateX(100%);
    //}
}
