$toggle: 15vmin;

.block-nav {
    z-index: 500;
    position: fixed;
    display: flex;
    flex-flow: row;
    justify-content: stretch;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    width: $toggle;
    height: 100vh;
    user-select: none;
    pointer-events: none;
    & * {
        user-select: auto;
        pointer-events: auto;
    }
}

.block-nav_toggle,
.block-nav_option,
.block-nav_detail_item {
    cursor: pointer;
}

.block-nav_toggle {
    line-height: 0.88;
    z-index: 3;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: $toggle;
    height: $toggle;
    font-size: 5vmin;
    font-weight: 700;
    background: rgba(220, 220, 220, 0.93);
    clip-path: circle(6vmin at 50% 50%);

    transform: rotate(0deg);
    //transition: background 0.33s ease-in-out;
    transition: transform 0.33s ease-in;

    &:before {
        content: "\2630";
        z-index: 2;
        position: absolute;
        transition: transform 0.33s ease-in;
        height: 1.1em;
    }

    &.toggled {
        transform: rotate(90deg);
    }

    &:hover {
        background: $navajowhite;
    }

    &.options:hover {
        transition: transform 0.33s ease-in;
        background: $navajowhite;
    }
}









