* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

html {
    font-family: $body-font;
    font-size: $font-size;
    font-weight: $body-weight;
    line-height: $line-height;
    color: $body-color;
}

img {
    max-width: 100%;
    display: block;
}