@use "variables";
@use "mixins";


h1 {
    font-family: $post-header-font;
    font-weight: 500;
}
h2 {
    font-weight: 800;
    font-size: 18px
}
h3 {}
h4 {}
h5 {}
h6 {
    font-family: $heading-font;
    color: $heading-color;
    font-weight: $heading-weight;
    font-size: $heading-size;
    text-transform: uppercase;
    line-height: 1;
}

p, li {
    margin: 1rem 0;
}

a:not(.action-button) {
    position: relative;
    color: black;
    font-weight: 400;
    text-decoration: none;
    -webkit-box-shadow: 0 0.25mm blue;
    box-shadow: 0 0.25mm blue;
    padding-bottom: 0.25mm;
    -webkit-transition: color 0.36s ease-in-out;
    transition: color 0.36s ease-in-out;
}

h2.block-nav_option {
    line-height: .75;
}

.post {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    padding: 2pc;
    text-align: justify;
    overflow: visible;

}


.post_header {
    position: relative;
    width: 100%;
    .background_image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: lighten;
        background-size: cover;
    }
}

.post.post_detail .background_image {
    filter: contrast(0.62) brightness(1.2) hue-rotate(330deg) grayscale(0.5);
}

.post .post_header {
    position: relative;
    width: 100%;
    &.has-media {
        padding: 2pc;
    }
    .detail_title {
        margin: 0.33em 0 2pc;
    }
}
.post.post_detail {
    margin-bottom: 5pc;
}

.post.post_detail .post_header {
    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 0;
        box-shadow: 0 1000vh 0 1000vh rgba(darkkhaki, 0.62); // darkseagreen
        z-index: -1;
        bottom: -2pc;
    }
}

.detail_label {
    //position: absolute;
    align-self: flex-start;
    margin-top: 0;
}
.detail_title {
    align-self: center;
    color: black;
    font-family: anton, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    @include viewportFontSize(8, 12mm, 48mm);
    text-align: center;
    text-align-last: center;
    line-height: 1;
    margin-bottom: 2pc;
}

[class$="detail"]:not(.block-nav_detail) {
    font-size: 15px;
    line-height: 1.8;
}
