---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: base.njk
---

{% set tagposts = collections[ tag ] %}


<div class="player">
  <div class="header" >
    <p>{{ tagposts | length }} posts tagged {{ tag }}.</p>
  </div>
    <div class="prev_next">
        <a class="prev_next" href="{{ '/main/1min/' }}">Calendar view</a>
    </div>

  {% set playlistTitle = "Tagged " + tag %}
  {% set playerTracks = tagposts %}
  {% set playerExtraClass = "tagpage " %}
  {% include "minutes-player.njk" %}

  </div>



{# <div class="container-calendar" > #}
<div class="tagitems">
  <ul>
  {% for post in tagposts | reverse %}
    <li class="day">
        <div class="background_image cover" style="background-image:url('{{ post.data.bgImg | url | thumb }}')"></div>
        <div class="daylink">
          <a href="{{ post.url | url }}">
            {{ post.data.date | friendlyDate('M-dd-yyyy') }}
          </a>
        </div>
    </li>
  {% endfor %}
  </ul>
</div>
{# </div>   #}
