---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: /tags/{{ tag }}/
layout: base.njk
---

<h1>Tagged “{{ tag }}”</h1>

{# <div class="container-calendar" > #}
<div class="tagitems">
  <ul>
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    <li class="day">
        <div class="background_image cover" style="background-image:url('{{ post.data.bgImg | url | thumb }}')"></div>
        <div class="daylink">
          <a href="{{ post.url | url }}">
            {{ post.data.date | friendlyDate('M-dd-yyyy') }}
          </a>
        </div>
    </li>
  {% endfor %}
  </ul>
</div>
{# </div>   #}