---
layout: base.njk
---
<div class="player">
<div class="header" >
  <a href="/main/1min/" style="font-size: 3vw;">Calendar view</a>
</div>

{% set playlistTitle = "Daily Minutes" %}
{% set playerTracks = collections.minutes %}
{% set playerExtraClass = "" %}
{% include "minutes-player.njk" %}

<br/><br/>
<div class="header" >Player by tag:</div>
<div class="post_content">
  {% for t in collections.tagList %}
      {% if t not in ["2025.05.break", "break"] %}
        <br/><br/><a href='/main{{ "/tags/" + t | url }}/'>{{ t }}</a>
      {% endif %}
  {% endfor %}
</div>

</div>
