<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/main/style/styles.css" rel="stylesheet">
    <link rel = "icon" href ="https://listenfaster.com/favicon.png" type = "image/ping">
    <script type="text/javascript" src="/main/js/player.js"></script>
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:type" content="website" />
    <meta name="og:image:secure_url"  content="{{ "https://listenfaster.com" }}{{ bgImg | url  }}" />
    <meta name="og:image"  content="{{ "https://listenfaster.com"  }}{{ bgImg | url }}" />
    <meta property="og:image"  content="{{ "https://listenfaster.com"  }}{{ bgImg | url  }}" />
    <meta name="twitter:image"  content="{{ "https://listenfaster.com"  }}{{ bgImg | url }}" />
<!-- 
    <meta property="og:image:width" content="375" /> 
    <link rel="webmention" href="https://webmention.io/mxb.dev/webmention">
-->
    <meta property="og:url" content="{{ "https://listenfaster.com/main" + page.url }}" />

</head>


<body>
<div class="main">
    <div class="nav">
        {% include "nav.njk" %}
    </div>
    <div class="container">
        {{ content | safe }}
    </div>
    
</div>
</body>

</html>