<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Your page title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/styles.css" rel="stylesheet">
    <link href="https://use.typekit.net/qdq7scy.css" rel="stylesheet">
  </head>

  <body>
  <div class="main">
    <div class="nav">
      {% include "nav.liquid" %}
    </div>
    <div class="container">
      {{ content }}
    </div>
  </div>
  </body>

</html>