<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="/main/style/styles.css" rel="stylesheet"/>
    <link rel="icon" href="https://listenfaster.com/favicon.png" type="image/ping"/>
    <script type="text/javascript" src="/main/js/player.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="nav">{% include "nav.njk" %}</div>
      <div class="container-calendar">
        <ul class="calendar">
          <div class="header">
            <p>Every day, a minute of sound.</p>
          </div>
          {% for m in collections.minutesByMonth %}
            <div class="month">
              {{ m.date | friendlyDate('MMMM') }},
              {{ m.date |
            friendlyDate('yyyy') }}
            </div>
            {% for w in m %}
              {% for d in w %}
                {% if d %}
                  <li class="day" style="grid-column-start:{{ d.dayOfWeek }}">
                    {% if '2025.02.break' in d.data.tags %}
                      <div class="background_image cover" style="background-image:url('{{ '/img/1min/2025.02.break.png' | url | thumb }}')"></div>
                    {% else %}
                      <div class="background_image cover" style="background-image:url('{{ d.data.bgImg | url | thumb }}')"></div>
                    {% endif %}
                    <div class="daylink">
                      <a href="{{ d.url | url }}">
                        {{ d.data.date | friendlyDate('d') }}
                      </a>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>