---
layout: base.njk
permalink: /1min/{{postnumber}}/

eleventyComputed:
    audio: /main/snd/1min/{{ postnumber }}.mp3
    bgImg: /img/1min/{{ postnumber }}.png

---
{% set previousPost = collections.1min | getPreviousCollectionItem(page) %}
{% set nextPost = collections.1min | getNextCollectionItem(page) %}

<div class="post">
    <div class="post_header">
        <div class="background_image cover"
             style="background-image: url('{{ bgImg | url }}');"></div>
        <h1 class="post_title detail_title">{{ title }}</h1>
        <h5 class="post_publish_date">{{ date |  friendlyDate('dd LLLL yyyy') }}</h5>
    </div>
    <div class="prev_next">
        {% if previousPost %}<a href="{{ previousPost.url | url}}">prev</a>{% endif %}
        {% if nextPost %}<a href="{{ nextPost.url | url }}">next</a>{% endif %}
    </div>
    <div class="post_content">
        <p><audio controls=""><source src="{{ audio }}" type="audio/mp3"></audio></p>
    </div>
    <div class="post_content">
        {{ content | safe }}
    </div>
    <div class="post_content">
        <img src="{{ bgImg | url }}" />
    </div>    
</div>
