{% set navTags = ["blog", "1min"] %}
{% set postslist = collections.posts %}
<nav>
    <div class="nav-container">
        <a href="/" class="nav-option">home</a>
        <a class="nav-option" href="{{ '/main/discography/' }}">discography</a>
        {% for t in navTags %}
            <a class="nav-option" href="#{{ t }}-menu" data="{{ t }}">{{ t }}</a>
        {% endfor %}
        <a class="nav-option" href="{{ '/main/links' }}">links</a>
        <a class="nav-option" href="{{ '/main/rss.xml' }}">rss</a>
    </div>
    {% for t in navTags %}
        <div id="{{ t }}-menu" class="menu" data="{{ t }}">
            <a class="nav-option back-btn" href="#">← back</a>
            {% for post in postslist | itemsByTag(t) | reverse %}
                <div class="menu-item">
                    <a href="{{ post.url | url }}" class="title">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
                </div>
            {% endfor %}
            <a href="#" class="scrim"></a>
        </div>
    {% endfor %}
</nav>
