{% set navTags = ["guitar", "listen"] %}
{% set postslist = collections.posts %}
<nav>
    <div class="block-nav">
        <div class="block-nav_toggle">
        </div>
        <div class="block-nav_options">
            {% for t in navTags %}
                <h2 class="block-nav_option" data="{{ t }}">{{ t }}</h2>
            {% endfor %}
        </div>

        <a href="/"
           class="block-nav_home">Home</a>

        {% for t in navTags %}
            <div class="block-nav_detail" data="{{ t }}">
                {% for post in postslist | itemsByTag(t) | reverse %}
                    <div class="block-nav_detail_item">
                        <a href="{{ post.url | url }}"
                           class="title">{% if post.data.title %}{{ post.data.title }}{% else %}
                                <code>{{ post.url }}</code>{% endif %}</a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="block-nav_scrim"></div>
</nav>
