<nav>
    <div class="block-nav">
        <div class="block-nav_toggle">
        </div>
        <div class="block-nav_options">
            <h2 class="block-nav_option">Listen</h2>
            <h2 class="block-nav_option">Guitar</h2>
        </div>
        <a href="/" aria-current="page"
           class="block-nav_home">Home</a>
    </div>
</nav>