---
layout: base.njk
---

<div class="post">
    <div class="post_header">
        <div class="background_image cover"
        style="background-image: url('{{ bgImg | url }}');"></div>
        <h1 class="post_title detail_title">{{ title }}</h1>
        <h5 class="post_publish_date">{{ date |  friendlyDate('dd LLLL yyyy') }}</h5>
    </div>
    <div class="post_content">
        {% for t in tags %}
            {% if t in collections.tagList %}
                <a href='/main{{ "/tags/" + t | url }}/'>{{ t }}</a>
            {% endif %}
        {% endfor %}
    </div>
    <div class="post_content">
        {{ content |  openImagesInNewWindow | safe}}
    </div>

<script>talkyardServerUrl='https://site-1gfho50lo1.talkyard.net';</script>
<script async defer src="https://c1.ty-cdn.net/-/talkyard-comments.min.js"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.talkyard.io">Talkyard</a>.</p>
</div>
    
</div>
